{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
Carrinho de Compras
{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Início</a></li>
  <li class="active">Finalização de compra</li>
</ol>
<div class="page-header">
    <h1>Finalização da compra</h1>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-success">
        Seu pedido foi realizado com sucesso, para realizar o pagamento faça o deposito
      </div>
      <p>
        Loremm ipasdufoius lfdka jdflk ,d fksdjlfk jslkdf jlkas dfçslkdfça sdkfjçla dlfk ajduo
        dflajsdlkfjsladjflasjdporiuqwoerldf
      </p>

    </div>
</div>
{% endblock %}
